init_config: null

# by default you will get 80+ metrics if configured like this:
# instances: [{}]

# I prefer only submitting some that I am interested in:
instances:
  - metrics:
      - num.tcp
      - num.tcp6
      - num.udp
      - num.udp6
      - num.queries
      - num.dropped
      - num.type.SOA
      - num.rcode.NOERROR
#    tags:
#      - fubar
